body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0%;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav {
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 10px 20px;
  margin-top: 90px
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form label {
  position: absolute;
  left: -9999px;
}

.search-form input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background-color: #45a049;
}

a, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.post-link {
  color: inherit; 
  text-decoration: none; 
  display: block; 
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.post h2 {
  margin-top: 0;
  text-decoration: none;
}

.postDate {
  color: #888;
  font-size: 0.9rem;
  text-decoration: none;
}

.postBody {
  font-size: 1rem;
  margin-top: 10px;
}
.Home{
  margin-bottom: 120px;
}

.post-body {
  background-color: #fdfdfd;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 120px;
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.new-post-form label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

.new-post-form input[type="text"],
.new-post-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.new-post-form textarea {
  height: 150px;
  resize: vertical;
}

.new-post-form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.new-post-form button:hover {
  background-color: #45a049;
}

.missing {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.missing h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
}

.missing p {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.about {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-bottom: 120px;
}

.about h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 10px;
}

.about p {
  color: #666;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 5px;
}

.main-content {
  padding-top: 120px; 
  padding-bottom: 120px; 
  overflow-y: auto;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  bottom: 0%;
  position: fixed;width: 100%;
}

.footer .footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.footer p:last-child {
  margin-bottom: 0;
}

.postPage {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.postPage .post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.postPage .delete {
  display: inline-block;
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.postPage .delete:hover{
  background-color: #c0392b;
}

.postPage .edit {
  display: inline-block;
  background-color: rgb(95, 226, 95);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.postPage .edit:hover{
  background-color: #0a9f2a;
}
